.app {
  height: 100vh;
  position: relative;

  .for-container {
    border-radius: unset !important;

    h1 {
      font-size: 2em;
    }

    h2 {
      font-size: 1.5em;
    }
  }

  &-btn-add {
    width: 60px !important;
    height: 60px !important;
    position: fixed;
    bottom: 4.1em;
    right: 1em;
    z-index: 999;
  }

  &-modify-time {
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #888;
  }

  &-btn-del {
    width: 60px !important;
    height: 60px !important;
    position: fixed;
    bottom: 7.8em;
    right: 1em;
    z-index: 999;
  }

  &-no-data {
    text-align: center;
  }

  &-editor {
  }

  &-left-side {
    .ant-layout-sider-children {
      overflow-y: auto;
    }
  }

  &-copyright {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 200px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #888;

    .love-icon {
      color: red;
      margin: 0 5px;
      animation: iconAnimate 1.33s ease-in-out infinite;
    }

    a {
      color: #888;
      display: inline-block;
      // margin-left: 5px;
    }
  }

  &-sync{
    position: absolute;
    z-index: 999;
    top: 0;
    display: flex;
    justify-content: space-between;
    left: 200px;
    right: 0;
    padding: 0 20px;

    &>svg{
      width: 20px;
    }
  }
}

@keyframes iconAnimate {
  0%,
  100% {
    transform: scale(1);
  }

  10%,
  30% {
    transform: scale(0.9);
  }

  20%,
  40%,
  60%,
  80% {
    transform: scale(1.1);
  }

  50%,
  70% {
    transform: scale(1.1);
  }
}
